{{ template "base" . }}

{{ define "css" }}{{ end }}

{{ define "browserTitle" }}Welcome{{ end }}

{{ define "pageContent" }}

    <h1>Add your content here</h1>

{{ end }}

{{ define "js" }}{{ end }}
